/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
	border-radius: 0; 
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

a {
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/

/* FONTS */

/*-----------------------------------------------------------------------------------*/

@font-face{
	font-family: 'OpenSans-Semibold';
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-style: normal;
}

@font-face{
	font-family: 'Raleway-Regular';
	src: url(../fonts/Raleway-Regular.ttf);
	font-style: normal;
}

/*-----------------------------------------------------------------------------------*/

/* MIXIN */

/*-----------------------------------------------------------------------------------*/

@mixin width-wraper{
	max-width: 1104px;
	margin: 0 auto;
}

@mixin OpenSans20black{
	font-family: "Open Sans";
	font-size: 20px;
	color: $gray;
	font-weight: bold;
	line-height: 1.2;
}

@mixin OpenSansReg14{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.43;
	color: #86878b;
}

/*-----------------------------------------------------------------------------------*/

/* VARIABLES */

/*-----------------------------------------------------------------------------------*/

$gray: #323232;
$green: #2f9781;
$light_green: #2eb398;
$deep_blue: #484c5f;
$black: #222222;

/*-----------------------------------------------------------------------------------*/

/* MAIN */

/*-----------------------------------------------------------------------------------*/
body{
	background-color: #555;
}
.width_wraper{
	max-width: 1020px;
	min-width: 850px;
	margin: 0 auto;
	position: relative;
}
.main_header{
	width: auto;
	min-height: 63px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
	background-color: $gray;
	& a{
			list-style: none;
			color: white;
			font-family: sans-serif;
			font-size: 10px;
			cursor: pointer;
			position: relative;
			&:hover{
				color: gray;
			}
	}
	&__nav_left{
		& a{
			padding-right: 23px;
			&:first-child{
				&:after{
					content: "";
					position: absolute;
					right: 8px;
					top: 45%;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background-color: $deep_blue;
				}
			}
		}
	}
	&__logo{
		width: 94px;
		min-height: 63px;
		text-align: center;
		position: relative;
		& img{
			top: 10px;
			right: 10%;
			position: absolute;
			z-index: 5;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: -45%;
			left: -18%;
			width: 0;
			height: 0;
			border-left: 70px solid transparent;
			border-right: 70px solid transparent;
			border-top: 40px solid $gray;
		}
	}
	&__nav_right{
		& a{
			padding-left: 23px;
			&:first-child{
				&:after{
					content: "";
					position: absolute;
					right: -12px;
					top: 45%;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background-color: $deep_blue;
				}
			}
		}
	}
	
}

.content{
	min-height: 723px;
	box-sizing: border-box;
	background-color: white;
	position: relative;
	display: flex;
	justify-content: center;
	&__wrap{
		display: flex;
		flex-direction: column;
		min-height: 550px;
		margin: 144px 20px;
		margin-bottom: 40px;
	}
	&__items_column{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 0px;
	}
	&:after{
		content: "";
		width: 90%;
		height: 1px;
		background-color: #e4e9eb;
		position: absolute;
		left: 50%;
		bottom: 13px;
		transform: translateX(-50%);
	}
}
.container{
	display: block;
	position: relative;
}
.container:hover{
	transform: scale(1.5);
	transition: transform 0.45s;
	z-index: 6;

}

//----------------------//

.hex {
	width:150px;
	height:86.5px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
	
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left: 0;
		
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;													
		overflow:hidden;	
	}
	
	.hex .corner-1 {
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:after,
	.hex .corner-2:after {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  background: inherit;
	  background-repeat:no-repeat;	  
	}			
	

	.hex .corner-1:after {
		-webkit-transform: rotate(-60deg) translate(-87px, 0px);
		-moz-transform: rotate(-60deg) translate(-87px, 0px);
		-ms-transform: rotate(-60deg) translate(-87px, 0px);
		-o-transform: rotate(-60deg) translate(-87px, 0px);
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:after {
		-webkit-transform: rotate(60deg) translate(-44px, -12px);
		-moz-transform: rotate(60deg) translate(-44px, -12px);
		-ms-transform: rotate(60deg) translate(-44px, -12px);
		-o-transform: rotate(60deg) translate(-44px, -12px);
		transform: rotate(60deg) translate(-44px, -12px);	
		bottom:0;
	}		

//----------------------//

.author_block {
	min-height: 340px;
	background-color: $light_green;
	padding: 13px 0;
	position: relative;
	z-index: 2;
	&__wraper{
		max-width: 798px;
		min-height: 340px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #219d84;
		border-left: 1px solid #219d84;
	}
	&__description{
		margin: 0 20px;
		align-self: flex-start;
		& h1{
			font-family: 'Lato';
			font-size: 30px;
			color: white;
			padding-top: 50px;
		}
		& h2 {
			font-family: 'Lato';
			font-size: 18px;
			color: $black;
			padding-top: 5px;
		}
		& p{
			font-family: 'Lato';
			font-size: 14px;
			padding-top: 20px;
		}
		&-social{
			display: inline-block;
			font-size: 0;
			float: right;
			padding-top: 60px;
			& a:hover{
				opacity: 0.5;
			}
		}
	}
	&__photo{
		margin-left: 20px;
	}

}



.feedback_form {
	min-height: 566px;
	background-color: $gray;
	position: relative;
	z-index: 2;
	&:before{
		content: "";
		width: 90%;
		height: 1px;
		background-color: $black;
		position: absolute;
		left: 50%;
		top: 13px;
		transform: translateX(-50%);
	}
	&:after{
		content: "";
		width: 90%;
		height: 1px;
		background-color: $black;
		position: absolute;
		left: 50%;
		bottom: 13px;
		transform: translateX(-50%);
	}
	&__wraper{
		max-width: 824px;
		min-height: 530px;
		margin: 0px auto;
	
		& h1{
			font-family: 'Lato';
			font-size: 30px;
			color: white;
			padding-top: 50px;
		}
		& h2 {
			font-family: 'Lato';
			font-size: 18px;
			color: #bebebe;
			padding-top: 5px;
			padding-bottom: 21px;
		}

	}
	&__form_elements{
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__description{
			flex-grow: 1;
			width: 30%;
			padding-left: 25px;
			font-size: 14px;
			font-family: 'Lato';
			color: #bebebe;
			line-height: 1.2;
			& span{
				font-weight: bold;
				color: white;
			}
			&__contacts{
				padding-top: 40px;
				& li{
					position: relative;
					padding-bottom: 10px;
					padding-left: 25px;
					&:first-child:before{
						position: absolute;
						content: "";
						width: 7px;
						height: 11px;
						left: 2px;
						top: 3px;
						background-image: url(../img/point.png);
					}
					&:nth-child(2):before{
						position: absolute;
						content: "";
						width: 11px;
						height: 11px;
						left: 0px;
						top: 3px;
						background-image: url(../img/call.png);
					}
					&:nth-child(3):before{
						position: absolute;
						content: "";
						width: 13px;
						height: 8px;
						left: 0;
						top: 5px;
						background-image: url(../img/massage.png);
					}
				}
			}
		}
		& form{
			max-width: 582px;
			width: 80%;
			& textarea{
				box-sizing: border-box;
				width: 100%;
				min-height: 100px;
				border: none;
				background-color: #454545;
				padding: 10px 15px;
				margin-bottom: 16px;
				font-size: 13px;
				font-family: 'Lato';
				color: #bebebe;
				resize: none;
			}
			& input{
				box-sizing: border-box;
				width: 100%;
				height: 40px;
				border: none;
				background-color: #454545;
				margin-bottom: 16px;
				padding: 0 15px;
				font-size: 13px;
				color: #bebebe;
				&:focus::-webkit-input-placeholder{
					color: transparent;
				}
				&:last-child{
					width: 90px;
					height: 37px;
					background-color: $light_green;
					color: white;
					float: right;
					cursor: pointer;
					&:hover{
						background-color: #37e4c1;
					}
				}
			}	
		}
	}	
}

footer {
	min-height: 43px;
	background-color: $black;
	color: #303030;
	& p{
		line-height: 43px;
		margin-left: 40px;
		font-size: 12px;
		font-family: 'Lato';
	}
}

.active{
	color: $green !important;
}